:root {
   --primary-color: #5E6CE5; /*Glaucous*/
   --secondary-color: lightgrey; /*Columbia blue*/
   --accent1-color: darkblue;
   --accent2-color: #0A369D; /*Egyptian blue*/
   --heading-font: "Times New Roman", "Georgia", serif;
   --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #fff;
}

article {
    position: relative;
    bottom: 150px;
    background-color: var(--secondary-color);
    margin: 0%;
}

.hero article img {
    float: right;
    margin: 10px;
    width: 125px;
}

footer {
    text-align: center;
    border-top: 1px solid black;
}