:root {
   --primary-color: #58b8d5; 
   --secondary-color: #eff4e1; 
   --accent1-color: #e1f4eerg;
   --accent2-color: darkslategrey; 
   --heading-font: "Times New Roman", "Georgia", serif;
   --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

header img {
    width: 200px;
}

nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    font-size: 25px;
    text-decoration: none;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.section2 figure {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.section2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section2 figcaption {
    position: static;
    text-align: center;
    padding: 8px 0;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    background-color: var(--accent1-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    background-color: var(--primary-color);
    padding: 10px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    color: #fff;
} */

.hero article {
    position: absolute;
    bottom: 25px;
    background-color: var(--secondary-color);
    margin: 0%;
    opacity: .9;
}

.hero article img {
    float: right;
    margin: 10px;
    width: 125px;
}


footer {
    display: flex;
    text-align: center;
    border-top: 1px solid black;
}

footer p {
    align-content: center;
}

.socialmedia {
    flex: content;
}

.contact {
    text-align: center;
}

.contact p {
    margin: auto 0;
    padding: 2px;
    font-weight: bold;
}

form {
    width: 650px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

 input {
    padding: 10px;
    font-size: 1rem;
    text-align: left;
    max-width: 500px;
    position: static;
}

.map {
    display: flex;
    gap: 30px;
}

.map iframe, .map form {
    flex: 1;
    width: 100%;
}

iframe {
    margin-top: 50px;
}

.employees {
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.employees figcaption {
    text-align: center;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.textarea-contact {
    margin: 10px 10px;
}