:root {
   --primary-color: #58b8d5; /*Glaucous*/
   --secondary-color: #eff4e1; /*Pastel Green*/
   --accent1-color: #e1f4ee;
   --accent2-color: #0a2e5; /*Egyptian blue*/
   --heading-font: "Times New Roman", "Georgia", serif;
   --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

header img {
    width: 200px;
}

nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    font-size: 25px;
    text-decoration: none;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.section2 {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

figcaption {
    align-items: center;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    background-color: var(--accent1-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--primary-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 25px;
    background-color: var(--secondary-color);
    margin: 0%;
    opacity: .9;
}

.hero article img {
    float: right;
    margin: 10px;
    width: 125px;
}


footer {
    display: flex;
    text-align: center;
    border-top: 1px solid black;
}

footer p {
    align-content: center;
}

.socialmedia {
    flex: content;
}
