:root {
    --primary-color: #000080;
    --background-gray: #E8E8E8;
    --soft-gray: rgba(50,50,50,.2);
    --text-color: #3b3b3b
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    max-width: 700px;
    margin: 0 auto;
}


h1{
    padding: .5rem 2rem;
    color: var(--primary-color);
}

form {
    background-color: var(--background-gray);
    border: 1px solid var(--soft-gray);
    border-radius: 8px;
    padding: 30px;
}

label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

code {
    background-color: var(--text-color);
    color: white;
    display: block;
    padding: 1.2rem;
    max-width: 70%;
    margin: 0 auto;
    min-width: 150px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
}

.question-number {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--soft-gray);
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 1rem;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

