* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
:root {
    --main-background-color: #4997d0;
    --main-text-align: center;
    --blue-background-font: white;
}

nav {
    background-color: var(--main-background-color);
    padding: 10px;
}

nav a {
    color: var(--blue-background-font);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: var(--main-text-align);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 55px;
    left: 100px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;

}

footer {
    margin-top: 50px;
    border-top: 1px solid black;
    text-align: var(--main-text-align);
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: var(--main-background-color);
    color: var(--blue-background-font);
}