* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
:root {
    --main-background-color: #4997d0;
    --main-text-align: center;
    --blue-background-font: white;
}

nav {
    background-color: var(--main-background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--blue-background-font);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid black;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: var(--main-text-align);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 55px;
    left: 100px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 5px;

}

footer {
    margin-top: 50px;
    border-top: 1px solid black;
    text-align: var(--main-text-align);
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: var(--main-background-color);
    color: var(--blue-background-font);
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main{ 
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
